@model SucursalModel

@{
    ViewData["Title"] = "Editar Sucursal";
}

<div class="text-center">
    <h1>Editar Sucursal</h1>
</div>
<form asp-controller="TiendasDis" asp-action="SucursalEdit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Nombre</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="direccion" class="form-label">Dirección</label>
        <input asp-for="direccion" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="gerenteSuc" class="form-label">Gerente de la sucursal</label>
        <input asp-for="gerenteSuc" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="telefono" class="form-label">Teléfono de la Sucursal</label>
        <input asp-for="telefono" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Editar</button>
    <a class="btn btn-secondary" asp-controller="TiendasDis" asp-action="TiendaList">Cancelar</a>
</form>
